<header class="site-header">
  <div class="container">
    <div class="header-inner">
      <div class="site-logo">
        <a href="{{ '/' | url }}">Japan Travel Insights</a>
      </div>
      <nav class="site-nav">
        <ul>
          <li><a href="{{ '/destinations/' | url }}">Destinations</a></li>
          <li><a href="{{ '/guides/' | url }}">Travel Guides</a></li>
          <li><a href="{{ '/tips/' | url }}">Tips & Info</a></li>
          <li><a href="{{ '/about/' | url }}">About Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
